In [1]:
import pandas as pd
# Reload the newly uploaded Excel file to properly inspect and handle it

updated_file_path = 'combine all.xlsx'

updated_xls = pd.ExcelFile(updated_file_path)



# Load the relevant sheet

updated_df = pd.read_excel(updated_xls, sheet_name='Sheet1')



# Inspect the first few rows to understand the structure, including the year above the parameter columns

updated_df.head(10)

,Unnamed: 0,1896,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1624,Unnamed: 1625,2024,Unnamed: 1627,Unnamed: 1628,Unnamed: 1629,Unnamed: 1630,Unnamed: 1631,Carbon emsission,Unnamed: 1633
0,Sport,drug,Female,Male,total,equity,country,10.0,17.0,18.0,...,equity,country,drug,F,M,total,equity,country,estimate per event,true data per participant
1,Aeronautics,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,7500,NaN
2,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,2000,NaN
3,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,500,NaN
4,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,NaN,64,64,128,0.5,NaN,100,NaN
5,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN
6,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.48,NaN,2,905,905,1810,0.5,NaN,7500,NaN
7,Badminton,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,NaN,86,86,172,0.5,NaN,750,NaN
8,Baseball,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,1250,NaN
9,Basketball,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,NaN,176,176,352,0.5,NaN,1000,681.3

In [2]:
# Extract header and year rows
header_row = updated_df.iloc[0]
year_row = updated_df.iloc[1].fillna(method='ffill')

# Combine header and year rows for unique identification
combined_columns_fixed = [
    f"{header}_{int(year)}" if pd.notna(year) and str(year).isdigit() else header
    for header, year in zip(header_row, year_row)
]

# Ensure all column names are strings
cleaned_column_names = [str(col) for col in combined_columns_fixed]

# Initialize index counter
current_index = -1

# Update column names to use a consistent index, incrementing when 'drug' is encountered
unique_columns_fixed = []
for col in cleaned_column_names:
    base_col = col.split('_')[0]  # Extract base name
    if base_col == "drug":
        current_index += 1  # Increment the index when encountering 'drug'
    
    # Append the column name with the current index
    unique_columns_fixed.append(f"{base_col}_{current_index}")

# Apply the updated column names
updated_df.columns = unique_columns_fixed

# Drop the first two rows used as headers and reset the index for the data
indexed_cleaned_time_series_df = updated_df[2:].reset_index(drop=True)

# Display the resulting DataFrame
indexed_cleaned_time_series_df

/tmp/ipykernel_283394/583500371.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  year_row = updated_df.iloc[1].fillna(method='ffill')

,Sport_-1,drug_0,Female_0,Male_0,total_0,equity_0,country_0,10.0_0,17.0_0,18.0_0,...,equity_29,country_29,drug_30,F_30,M_30,total_30,equity_30,country_30,estimate per event_30,true data per participant_30
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,2000,NaN
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,500,NaN
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,NaN,64,64,128,0.5,NaN,100,NaN
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.48,NaN,2,905,905,1810,0.5,NaN,7500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.5,NaN,NaN,60,60,120,0.5,NaN,300,NaN
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.333333,NaN,NaN,192,96,288,0.666667,NaN,350,NaN
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
olympic_years = [1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,

                 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984,

                 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032]
# Define your mapping logic for new numbers (e.g., replace with incremented values)
def get_new_number(old_number):
    # Example: Just increment by 1 (customize this logic as needed)
    return olympic_years[int(old_number)]

In [4]:


# Iterate over all columns and modify the number after '_'
new_columns = []
for col in indexed_cleaned_time_series_df.columns:
    if '_' in col:
        base_name, number = col.rsplit('_', 1)  # Split from the right to handle names like "data_1_test"
        if number.isdigit():  # Ensure it's a valid number
            new_number = get_new_number(number)
            new_columns.append(f"{base_name}_{new_number}")
        else:
            new_columns.append(col)  # Keep the original if no valid number found
    else:
        new_columns.append(col)  # Keep columns without '_'

# Update DataFrame column names
df2 = indexed_cleaned_time_series_df
df2.columns = new_columns

# Print the updated column names
print(df2.columns)

Index(['Sport_-1', 'drug_1896', 'Female_1896', 'Male_1896', 'total_1896',
       'equity_1896', 'country_1896', '10.0_1896', '17.0_1896', '18.0_1896',
       ...
       'equity_2020', 'country_2020', 'drug_2024', 'F_2024', 'M_2024',
       'total_2024', 'equity_2024', 'country_2024', 'estimate per event_2024',
       'true data per participant_2024'],
      dtype='object', length=1634)

In [5]:
df2

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,equity_2020,country_2020,drug_2024,F_2024,M_2024,total_2024,equity_2024,country_2024,estimate per event_2024,true data per participant_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,2000,NaN
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,500,NaN
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,NaN,64,64,128,0.5,NaN,100,NaN
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.48,NaN,2,905,905,1810,0.5,NaN,7500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.5,NaN,NaN,60,60,120,0.5,NaN,300,NaN
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.333333,NaN,NaN,192,96,288,0.666667,NaN,350,NaN
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.to_csv("not_final.csv")

In [7]:
def create_label_columns(df):
    # Identify 'total' columns based on naming convention
    total_columns = [col for col in df.columns if col.startswith('total_') and col.split('_')[1].isdigit()]
    
    for col in total_columns:
        # Extract the year (or index) from the column name
        year_suffix = col.split('_')[1]
        
        # Create a new label column for each year
        new_col_name = f"label_{year_suffix}"
        
        # Assign 1 if total > 0, otherwise 0
        df[new_col_name] = df[col].apply(lambda x: 1 if x > 0 else 0)
    
    return df

In [8]:
create_label_columns(df2)

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,label_1988,label_1992,label_1996,label_2000,label_2004,label_2008,label_2012,label_2016,label_2020,label_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,0,0,0,0,0,0
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df2

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,label_1988,label_1992,label_1996,label_2000,label_2004,label_2008,label_2012,label_2016,label_2020,label_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,0,0,0,0,0,0
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [10]:
def create_popularity_columns(df):
    # Identify 'total' columns based on naming convention
    total_columns = [col for col in df.columns if col.startswith('total_') and col.split('_')[1].isdigit()]
    
    for col in total_columns:
        # Extract the year from the column name
        year_suffix = col.split('_')[1]
        
        # Calculate the sum of total for that year
        year_total_sum = df[col].sum()
        
        # Create a new column for popularity calculation
        new_col_name = f"popularity_{year_suffix}"
        
        # Calculate popularity as total_(year) / sum(total_(year))
        df[new_col_name] = df[col] / year_total_sum if year_total_sum != 0 else 0
    
    return df

In [11]:
df3 = create_popularity_columns(df2)
df3

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,popularity_1988,popularity_1992,popularity_1996,popularity_2000,popularity_2004,popularity_2008,popularity_2012,popularity_2016,popularity_2020,popularity_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.045516,0.045695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.017512,0.015049,0.01582,0.014905,0.01577,0.014263,0.01548,0.014611,0.012112,0.012554
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.140501,0.125145,0.173149,0.178569,0.161794,0.164976,0.176316,0.183226,0.179788,0.177521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.015399,0.014866,0.017634,0.017799,0.018523,0.0186,0.019505,0.018629,0.018547,0.011769
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.031139,0.022604,0.0291,0.022719,0.025441,0.025217,0.026238,0.025278,0.027252,0.028246
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def create_popularity_and_normalized_country_columns(df, total_countries=200):
    # Identify 'total' and 'country' columns
    total_columns = [col for col in df.columns if col.startswith('total_') and col.split('_')[1].isdigit()]
    country_columns = [col for col in df.columns if col.startswith('country_') and col.split('_')[1].isdigit()]
    
    for col in total_columns:
        # Extract the year from the column name
        year_suffix = col.split('_')[1]
        
        # Calculate the sum of total for that year
        year_total_sum = df[col].sum()
        
        # Create a new column for popularity calculation
        new_col_name = f"popularity_{year_suffix}"
        
        # Calculate popularity as total_(year) / sum(total_(year))
        df[new_col_name] = df[col] / year_total_sum if year_total_sum != 0 else 0

    for col in country_columns:
        # Extract the year from the column name
        year_suffix = col.split('_')[1]
        
        # Create a new column for normalized country calculation
        new_col_name = f"normalizedcountry_{year_suffix}"
        
        # Normalize by dividing by total number of countries
        df[new_col_name] = df[col] / total_countries

    return df

In [13]:
df3 = create_popularity_and_normalized_country_columns(df2)
df3

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,normalizedcountry_1988,normalizedcountry_1992,normalizedcountry_1996,normalizedcountry_2000,normalizedcountry_2004,normalizedcountry_2008,normalizedcountry_2012,normalizedcountry_2016,normalizedcountry_2020,normalizedcountry_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.215,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.205,0.22,0.205,0.23,0.215,0.245,0.275,0.28,NaN,NaN
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.74,0.78,0.95,0.965,0.98,1.0,1.005,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.31,0.345,0.385,0.38,0.395,0.42,0.42,0.46,NaN,NaN
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.345,0.295,0.375,0.275,0.33,0.295,0.35,0.33,NaN,NaN
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
import numpy as np
def normalize_log_scale(df, column_name):
    # Check if the column exists in the DataFrame
    if column_name in df.columns:
        # Apply log scale normalization
        df[f"{column_name}_log_scaled"] = df[column_name].apply(lambda x: np.log1p(x) if x > 0 else 0)
    else:
        print(f"Column {column_name} not found in the DataFrame.")
    
    return df

In [15]:
df3 = normalize_log_scale(df3, "estimate per event_1896")
df3

Column estimate per event_1896 not found in the DataFrame.

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,normalizedcountry_1988,normalizedcountry_1992,normalizedcountry_1996,normalizedcountry_2000,normalizedcountry_2004,normalizedcountry_2008,normalizedcountry_2012,normalizedcountry_2016,normalizedcountry_2020,normalizedcountry_2024
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.215,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.205,0.22,0.205,0.23,0.215,0.245,0.275,0.28,NaN,NaN
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,0.74,0.78,0.95,0.965,0.98,1.0,1.005,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.31,0.345,0.385,0.38,0.395,0.42,0.42,0.46,NaN,NaN
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.345,0.295,0.375,0.275,0.33,0.295,0.35,0.33,NaN,NaN
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def add_age_representative_columns(df, sport_column):
    # Identify columns representing participant age frequencies (10.0 - 100.0)
    age_columns = [col for col in df.columns if col.split('_')[0].replace('.', '').isdigit() and 10.0 <= float(col.split('_')[0]) <= 100.0]

    # Extract unique years from age columns
    years = sorted(set(col.split('_')[1] for col in age_columns))

    # Dictionary to store new CV columns
    new_columns = {}

    for year in years:
        # Filter columns for the current year
        year_columns = [col for col in age_columns if f"_{year}" in col]

        def calculate_cv(row):
            mean_value = row.mean()
            sd_value = row.std()
            
            # Debugging print statements
            print(f"Year: {year}, Row Index: {row.name}, Mean: {mean_value}, SD: {sd_value}")
            
            # Calculate CV
            return sd_value / mean_value if mean_value != 0 and len(row.dropna()) > 1 else 0

        # Apply calculation and store results
        new_columns[f"CV_{year}"] = df[year_columns].apply(calculate_cv, axis=1)

    # Concatenate all new columns at once to avoid fragmentation
    df = pd.concat([df, pd.DataFrame(new_columns, index=df.index)], axis=1)
    
    return df

In [17]:
print(df3.columns)

Index(['Sport_-1', 'drug_1896', 'Female_1896', 'Male_1896', 'total_1896',
       'equity_1896', 'country_1896', '10.0_1896', '17.0_1896', '18.0_1896',
       ...
       'normalizedcountry_1988', 'normalizedcountry_1992',
       'normalizedcountry_1996', 'normalizedcountry_2000',
       'normalizedcountry_2004', 'normalizedcountry_2008',
       'normalizedcountry_2012', 'normalizedcountry_2016',
       'normalizedcountry_2020', 'normalizedcountry_2024'],
      dtype='object', length=1727)

In [18]:
df3 = add_age_representative_columns(df3,"Sport_1896")
df3

Year: 1896, Row Index: 0, Mean: nan, SD: nan
Year: 1896, Row Index: 1, Mean: nan, SD: nan
Year: 1896, Row Index: 2, Mean: nan, SD: nan
Year: 1896, Row Index: 3, Mean: nan, SD: nan
Year: 1896, Row Index: 4, Mean: 5.3076923076923075, SD: 5.313263519793577
Year: 1896, Row Index: 5, Mean: nan, SD: nan
Year: 1896, Row Index: 6, Mean: nan, SD: nan
Year: 1896, Row Index: 7, Mean: nan, SD: nan
Year: 1896, Row Index: 8, Mean: nan, SD: nan
Year: 1896, Row Index: 9, Mean: nan, SD: nan
Year: 1896, Row Index: 10, Mean: nan, SD: nan
Year: 1896, Row Index: 11, Mean: nan, SD: nan
Year: 1896, Row Index: 12, Mean: nan, SD: nan
Year: 1896, Row Index: 13, Mean: nan, SD: nan
Year: 1896, Row Index: 14, Mean: nan, SD: nan
Year: 1896, Row Index: 15, Mean: nan, SD: nan
Year: 1896, Row Index: 16, Mean: nan, SD: nan
Year: 1896, Row Index: 17, Mean: nan, SD: nan
Year: 1896, Row Index: 18, Mean: 3.1666666666666665, SD: 1.4719601443879744
Year: 1896, Row Index: 19, Mean: nan, SD: nan
Year: 1896, Row Index: 20, Mean: nan, SD: nan
Year: 1896, Row Index: 21, Mean: 1.5, SD: 1.0
Year: 1896, Row Index: 22, Mean: nan, SD: nan
Year: 1896, Row Index: 23, Mean: nan, SD: nan
Year: 1896, Row Index: 24, Mean: nan, SD: nan
Year: 1896, Row Index: 25, Mean: nan, SD: nan
Year: 1896, Row Index: 26, Mean: 8.11111111111111, SD: 6.009252125773315
Year: 1896, Row Index: 27, Mean: nan, SD: nan
Year: 1896, Row Index: 28, Mean: nan, SD: nan
Year: 1896, Row Index: 29, Mean: nan, SD: nan
Year: 1896, Row Index: 30, Mean: nan, SD: nan
Year: 1896, Row Index: 31, Mean: nan, SD: nan
Year: 1896, Row Index: 32, Mean: nan, SD: nan
Year: 1896, Row Index: 33, Mean: nan, SD: nan
Year: 1896, Row Index: 34, Mean: nan, SD: nan
Year: 1896, Row Index: 35, Mean: nan, SD: nan
Year: 1896, Row Index: 36, Mean: nan, SD: nan
Year: 1896, Row Index: 37, Mean: nan, SD: nan
Year: 1896, Row Index: 38, Mean: nan, SD: nan
Year: 1896, Row Index: 39, Mean: nan, SD: nan
Year: 1896, Row Index: 40, Mean: nan, SD: nan
Year: 1896, Row Index: 41, Mean: nan, SD: nan
Year: 1896, Row Index: 42, Mean: nan, SD: nan
Year: 1896, Row Index: 43, Mean: nan, SD: nan
Year: 1896, Row Index: 44, Mean: nan, SD: nan
Year: 1896, Row Index: 45, Mean: nan, SD: nan
Year: 1896, Row Index: 46, Mean: 2.7142857142857144, SD: 1.2535663410560176
Year: 1896, Row Index: 47, Mean: nan, SD: nan
Year: 1896, Row Index: 48, Mean: nan, SD: nan
Year: 1896, Row Index: 49, Mean: nan, SD: nan
Year: 1896, Row Index: 50, Mean: nan, SD: nan
Year: 1896, Row Index: 51, Mean: nan, SD: nan
Year: 1896, Row Index: 52, Mean: nan, SD: nan
Year: 1896, Row Index: 53, Mean: 2.3333333333333335, SD: 1.5275252316519468
Year: 1896, Row Index: 54, Mean: nan, SD: nan
Year: 1896, Row Index: 55, Mean: nan, SD: nan
Year: 1896, Row Index: 56, Mean: nan, SD: nan
Year: 1896, Row Index: 57, Mean: 3.0, SD: 1.4142135623730951
Year: 1896, Row Index: 58, Mean: nan, SD: nan
Year: 1896, Row Index: 59, Mean: nan, SD: nan
Year: 1896, Row Index: 60, Mean: nan, SD: nan
Year: 1896, Row Index: 61, Mean: nan, SD: nan
Year: 1896, Row Index: 62, Mean: nan, SD: nan
Year: 1896, Row Index: 63, Mean: 2.0, SD: 1.7320508075688772
Year: 1896, Row Index: 64, Mean: 0.15, SD: 0.36634754853252327
Year: 1896, Row Index: 65, Mean: 0.0, SD: 0.0
Year: 1896, Row Index: 66, Mean: 0.0, SD: 0.0
Year: 1896, Row Index: 67, Mean: 0.0, SD: 0.0
Year: 1900, Row Index: 0, Mean: 0.0, SD: nan
Year: 1900, Row Index: 1, Mean: 0.0, SD: nan
Year: 1900, Row Index: 2, Mean: 1.8571428571428572, SD: 1.4600918230947435
Year: 1900, Row Index: 3, Mean: 0.0, SD: nan
Year: 1900, Row Index: 4, Mean: 11.263157894736842, SD: 10.989096137450462
Year: 1900, Row Index: 5, Mean: 0.0, SD: nan
Year: 1900, Row Index: 6, Mean: 0.0, SD: nan
Year: 1900, Row Index: 7, Mean: 0.0, SD: nan
Year: 1900, Row Index: 8, Mean: 1.0, SD: 1.4142135623730951
Year: 1900, Row Index: 9, Mean: 0.0, SD: nan
Year: 1900, Row Index: 10, Mean: 0.0, SD: nan
Year: 1900, Row Index: 11, Mean: 0.0, SD: nan
Year: 1900, Row Index: 12, Mean: 0.0, SD: nan
Year: 1900, Row Index: 13, Mean: 0.0, SD: nan
Year: 1900, Row Index: 14, Mean: 1.5, SD: 1.243163121016122
Year: 1900, Row Index: 15, Mean: 1.6666666666666667, SD: 0.7071067811865476
Year: 1900, Row Index: 16, Mean: 0.0, SD: nan
Year: 1900, Row Index: 17, Mean: 0.0, SD: nan
Year: 1900, Row Index: 18, Mean: 2.5833333333333335, SD: 2.274696116900546
Year: 1900, Row Index: 19, Mean: 0.0, SD: nan
Year: 1900, Row Index: 20, Mean: 1.8695652173913044, SD: 1.1403487435504087
Year: 1900, Row Index: 21, Mean: 4.32258064516129, SD: 3.429160215700957
Year: 1900, Row Index: 22, Mean: 0.0, SD: nan
Year: 1900, Row Index: 23, Mean: 1.4545454545454546, SD: 1.0357254813546264
Year: 1900, Row Index: 24, Mean: 0.0, SD: nan
Year: 1900, Row Index: 25, Mean: 1.3076923076923077, SD: 0.6304251719561152
Year: 1900, Row Index: 26, Mean: 2.5384615384615383, SD: 1.7614096918559585
Year: 1900, Row Index: 27, Mean: 0.0, SD: nan
Year: 1900, Row Index: 28, Mean: 0.0, SD: nan
Year: 1900, Row Index: 29, Mean: 0.0, SD: nan
Year: 1900, Row Index: 30, Mean: 0.0, SD: nan
Year: 1900, Row Index: 31, Mean: 0.0, SD: nan
Year: 1900, Row Index: 32, Mean: 0.0, SD: nan
Year: 1900, Row Index: 33, Mean: 0.0, SD: nan
Year: 1900, Row Index: 34, Mean: 0.0, SD: nan
Year: 1900, Row Index: 35, Mean: 0.0, SD: nan
Year: 1900, Row Index: 36, Mean: 0.0, SD: nan
Year: 1900, Row Index: 37, Mean: 0.0, SD: nan
Year: 1900, Row Index: 38, Mean: 1.2666666666666666, SD: 0.7037315505489968
Year: 1900, Row Index: 39, Mean: 0.0, SD: nan
Year: 1900, Row Index: 40, Mean: 0.0, SD: nan
Year: 1900, Row Index: 41, Mean: 0.0, SD: nan
Year: 1900, Row Index: 42, Mean: 5.444444444444445, SD: 4.693201869816562
Year: 1900, Row Index: 43, Mean: 1.8571428571428572, SD: 1.0994504121565505
Year: 1900, Row Index: 44, Mean: 0.0, SD: nan
Year: 1900, Row Index: 45, Mean: 5.3076923076923075, SD: 3.586298713372669
Year: 1900, Row Index: 46, Mean: 6.884615384615385, SD: 4.650392870086768
Year: 1900, Row Index: 47, Mean: 0.0, SD: nan
Year: 1900, Row Index: 48, Mean: 0.0, SD: nan
Year: 1900, Row Index: 49, Mean: 0.0, SD: nan
Year: 1900, Row Index: 50, Mean: 0.0, SD: nan
Year: 1900, Row Index: 51, Mean: 0.0, SD: nan
Year: 1900, Row Index: 52, Mean: 0.0, SD: nan
Year: 1900, Row Index: 53, Mean: 4.4, SD: 4.9396356140913875
Year: 1900, Row Index: 54, Mean: 0.0, SD: nan
Year: 1900, Row Index: 55, Mean: 0.0, SD: nan
Year: 1900, Row Index: 56, Mean: 0.0, SD: nan
Year: 1900, Row Index: 57, Mean: 2.2666666666666666, SD: 1.3345232785352157
Year: 1900, Row Index: 58, Mean: 0.0, SD: nan
Year: 1900, Row Index: 59, Mean: 0.0, SD: nan
Year: 1900, Row Index: 60, Mean: 1.0, SD: 0.4472135954999579
Year: 1900, Row Index: 61, Mean: 0.0, SD: nan
Year: 1900, Row Index: 62, Mean: 1.7333333333333334, SD: 1.4375905768565218
Year: 1900, Row Index: 63, Mean: 0.0, SD: nan
Year: 1900, Row Index: 64, Mean: 0.0, SD: nan
Year: 1900, Row Index: 65, Mean: 0.0, SD: 0.0
Year: 1900, Row Index: 66, Mean: 0.0, SD: 0.0
Year: 1900, Row Index: 67, Mean: 0.0, SD: 0.0
Year: 1904, Row Index: 0, Mean: 0.0, SD: nan
Year: 1904, Row Index: 1, Mean: 0.0, SD: nan
Year: 1904, Row Index: 2, Mean: 2.772727272727273, SD: 1.3427696388548196
Year: 1904, Row Index: 3, Mean: 0.0, SD: nan
Year: 1904, Row Index: 4, Mean: 8.9, SD: 8.705110416785134
Year: 1904, Row Index: 5, Mean: 0.0, SD: nan
Year: 1904, Row Index: 6, Mean: 0.0, SD: nan
Year: 1904, Row Index: 7, Mean: 0.0, SD: nan
Year: 1904, Row Index: 8, Mean: 0.0, SD: nan
Year: 1904, Row Index: 9, Mean: 0.0, SD: nan
Year: 1904, Row Index: 10, Mean: 0.0, SD: nan
Year: 1904, Row Index: 11, Mean: 0.0, SD: nan
Year: 1904, Row Index: 12, Mean: 1.6363636363636365, SD: 1.2862913567871994
Year: 1904, Row Index: 13, Mean: 0.0, SD: nan
Year: 1904, Row Index: 14, Mean: 0.0, SD: nan
Year: 1904, Row Index: 15, Mean: 0.0, SD: nan
Year: 1904, Row Index: 16, Mean: 0.0, SD: nan
Year: 1904, Row Index: 17, Mean: 0.0, SD: nan
Year: 1904, Row Index: 18, Mean: 4.666666666666667, SD: 3.7739136506316937
Year: 1904, Row Index: 19, Mean: 0.75, SD: 0.5
Year: 1904, Row Index: 20, Mean: 0.0, SD: nan
Year: 1904, Row Index: 21, Mean: 2.5, SD: 1.6499158227686108
Year: 1904, Row Index: 22, Mean: 0.0, SD: nan
Year: 1904, Row Index: 23, Mean: 2.0, SD: 1.4142135623730951
Year: 1904, Row Index: 24, Mean: 0.0, SD: nan
Year: 1904, Row Index: 25, Mean: 3.161290322580645, SD: 2.3394696577579057
Year: 1904, Row Index: 26, Mean: 17.61111111111111, SD: 12.607835513674393
Year: 1904, Row Index: 27, Mean: 0.0, SD: nan
Year: 1904, Row Index: 28, Mean: 0.0, SD: nan
Year: 1904, Row Index: 29, Mean: 0.0, SD: nan
Year: 1904, Row Index: 30, Mean: 0.0, SD: nan
Year: 1904, Row Index: 31, Mean: 0.0, SD: nan
Year: 1904, Row Index: 32, Mean: 1.1333333333333333, SD: 0.6399404734221844
Year: 1904, Row Index: 33, Mean: 0.0, SD: nan
Year: 1904, Row Index: 34, Mean: 0.0, SD: nan
Year: 1904, Row Index: 35, Mean: 0.0, SD: nan
Year: 1904, Row Index: 36, Mean: 0.0, SD: nan
Year: 1904, Row Index: 37, Mean: 0.0, SD: nan
Year: 1904, Row Index: 38, Mean: 0.0, SD: nan
Year: 1904, Row Index: 39, Mean: 0.0, SD: nan
Year: 1904, Row Index: 40, Mean: 0.0, SD: nan
Year: 1904, Row Index: 41, Mean: 0.75, SD: 0.5
Year: 1904, Row Index: 42, Mean: 2.1052631578947367, SD: 1.2864566686188532
Year: 1904, Row Index: 43, Mean: 0.0, SD: nan
Year: 1904, Row Index: 44, Mean: 0.0, SD: nan
Year: 1904, Row Index: 45, Mean: 0.0, SD: nan
Year: 1904, Row Index: 46, Mean: 0.0, SD: nan
Year: 1904, Row Index: 47, Mean: 0.0, SD: nan
Year: 1904, Row Index: 48, Mean: 0.0, SD: nan
Year: 1904, Row Index: 49, Mean: 0.0, SD: nan
Year: 1904, Row Index: 50, Mean: 0.0, SD: nan
Year: 1904, Row Index: 51, Mean: 0.0, SD: nan
Year: 1904, Row Index: 52, Mean: 0.0, SD: nan
Year: 1904, Row Index: 53, Mean: 4.0, SD: 3.0
Year: 1904, Row Index: 54, Mean: 0.0, SD: nan
Year: 1904, Row Index: 55, Mean: 0.0, SD: nan
Year: 1904, Row Index: 56, Mean: 0.0, SD: nan
Year: 1904, Row Index: 57, Mean: 3.2857142857142856, SD: 1.938618517976592
Year: 1904, Row Index: 58, Mean: 0.0, SD: nan
Year: 1904, Row Index: 59, Mean: 0.0, SD: nan
Year: 1904, Row Index: 60, Mean: 1.4444444444444444, SD: 1.0137937550497031
Year: 1904, Row Index: 61, Mean: 0.0, SD: nan
Year: 1904, Row Index: 62, Mean: 1.6363636363636365, SD: 1.12006493318265
Year: 1904, Row Index: 63, Mean: 1.3333333333333333, SD: 1.1547005383792517
Year: 1904, Row Index: 64, Mean: 2.111111111111111, SD: 1.604731565930206
Year: 1904, Row Index: 65, Mean: 0.0, SD: 0.0
Year: 1904, Row Index: 66, Mean: 0.0, SD: 0.0
Year: 1904, Row Index: 67, Mean: 0.0, SD: 0.0
Year: 1906, Row Index: 0, Mean: nan, SD: nan
Year: 1906, Row Index: 1, Mean: nan, SD: nan
Year: 1906, Row Index: 2, Mean: nan, SD: nan
Year: 1906, Row Index: 3, Mean: nan, SD: nan
Year: 1906, Row Index: 4, Mean: 15.65, SD: 13.97469517603722
Year: 1906, Row Index: 5, Mean: nan, SD: nan
Year: 1906, Row Index: 6, Mean: nan, SD: nan
Year: 1906, Row Index: 7, Mean: nan, SD: nan
Year: 1906, Row Index: 8, Mean: nan, SD: nan
Year: 1906, Row Index: 9, Mean: nan, SD: nan
Year: 1906, Row Index: 10, Mean: nan, SD: nan
Year: 1906, Row Index: 11, Mean: nan, SD: nan
Year: 1906, Row Index: 12, Mean: nan, SD: nan
Year: 1906, Row Index: 13, Mean: nan, SD: nan
Year: 1906, Row Index: 14, Mean: nan, SD: nan
Year: 1906, Row Index: 15, Mean: nan, SD: nan
Year: 1906, Row Index: 16, Mean: nan, SD: nan
Year: 1906, Row Index: 17, Mean: nan, SD: nan
Year: 1906, Row Index: 18, Mean: 5.9, SD: 4.701063709417263
Year: 1906, Row Index: 19, Mean: 1.2666666666666666, SD: 0.4577377082170635
Year: 1906, Row Index: 20, Mean: nan, SD: nan
Year: 1906, Row Index: 21, Mean: 5.260869565217392, SD: 3.9105613559407395
Year: 1906, Row Index: 22, Mean: nan, SD: nan
Year: 1906, Row Index: 23, Mean: 2.25, SD: 1.5811388300841898
Year: 1906, Row Index: 24, Mean: nan, SD: nan
Year: 1906, Row Index: 25, Mean: nan, SD: nan
Year: 1906, Row Index: 26, Mean: 4.666666666666667, SD: 2.63673679998231
Year: 1906, Row Index: 27, Mean: nan, SD: nan
Year: 1906, Row Index: 28, Mean: nan, SD: nan
Year: 1906, Row Index: 29, Mean: nan, SD: nan
Year: 1906, Row Index: 30, Mean: nan, SD: nan
Year: 1906, Row Index: 31, Mean: nan, SD: nan
Year: 1906, Row Index: 32, Mean: nan, SD: nan
Year: 1906, Row Index: 33, Mean: nan, SD: nan
Year: 1906, Row Index: 34, Mean: nan, SD: nan
Year: 1906, Row Index: 35, Mean: nan, SD: nan
Year: 1906, Row Index: 36, Mean: nan, SD: nan
Year: 1906, Row Index: 37, Mean: nan, SD: nan
Year: 1906, Row Index: 38, Mean: nan, SD: nan
Year: 1906, Row Index: 39, Mean: nan, SD: nan
Year: 1906, Row Index: 40, Mean: nan, SD: nan
Year: 1906, Row Index: 41, Mean: nan, SD: nan
Year: 1906, Row Index: 42, Mean: 3.923076923076923, SD: 3.684687649845381
Year: 1906, Row Index: 43, Mean: nan, SD: nan
Year: 1906, Row Index: 44, Mean: nan, SD: nan
Year: 1906, Row Index: 45, Mean: nan, SD: nan
Year: 1906, Row Index: 46, Mean: 8.208333333333334, SD: 3.706388921926531
Year: 1906, Row Index: 47, Mean: nan, SD: nan
Year: 1906, Row Index: 48, Mean: nan, SD: nan
Year: 1906, Row Index: 49, Mean: nan, SD: nan
Year: 1906, Row Index: 50, Mean: nan, SD: nan
Year: 1906, Row Index: 51, Mean: nan, SD: nan
Year: 1906, Row Index: 52, Mean: nan, SD: nan
Year: 1906, Row Index: 53, Mean: 3.8, SD: 2.7307769694983985
Year: 1906, Row Index: 54, Mean: nan, SD: nan
Year: 1906, Row Index: 55, Mean: nan, SD: nan
Year: 1906, Row Index: 56, Mean: nan, SD: nan
Year: 1906, Row Index: 57, Mean: 2.8181818181818183, SD: 1.9908883353006928
Year: 1906, Row Index: 58, Mean: nan, SD: nan
Year: 1906, Row Index: 59, Mean: nan, SD: nan
Year: 1906, Row Index: 60, Mean: 2.0, SD: 1.1547005383792515
Year: 1906, Row Index: 61, Mean: nan, SD: nan
Year: 1906, Row Index: 62, Mean: nan, SD: nan
Year: 1906, Row Index: 63, Mean: 2.142857142857143, SD: 0.37796447300922725
Year: 1906, Row Index: 64, Mean: 1.7272727272727273, SD: 1.2720777563426766
Year: 1906, Row Index: 65, Mean: 0.0, SD: 0.0
Year: 1906, Row Index: 66, Mean: 0.0, SD: 0.0
Year: 1906, Row Index: 67, Mean: 0.0, SD: 0.0
Year: 1908, Row Index: 0, Mean: 0.0, SD: nan
Year: 1908, Row Index: 1, Mean: 0.0, SD: nan
Year: 1908, Row Index: 2, Mean: 2.0416666666666665, SD: 1.1601786469133204
Year: 1908, Row Index: 3, Mean: 0.0, SD: nan
Year: 1908, Row Index: 4, Mean: 29.541666666666668, SD: 30.49444591862685
Year: 1908, Row Index: 5, Mean: 0.0, SD: nan
Year: 1908, Row Index: 6, Mean: 0.0, SD: nan
Year: 1908, Row Index: 7, Mean: 0.0, SD: nan
Year: 1908, Row Index: 8, Mean: 0.0, SD: nan
Year: 1908, Row Index: 9, Mean: 0.0, SD: nan
Year: 1908, Row Index: 10, Mean: 0.0, SD: nan
Year: 1908, Row Index: 11, Mean: 0.0, SD: nan
Year: 1908, Row Index: 12, Mean: 1.5384615384615385, SD: 0.9674179220468453
Year: 1908, Row Index: 13, Mean: 0.0, SD: nan
Year: 1908, Row Index: 14, Mean: 0.0, SD: nan
Year: 1908, Row Index: 15, Mean: 0.0, SD: nan
Year: 1908, Row Index: 16, Mean: 0.0, SD: nan
Year: 1908, Row Index: 17, Mean: 0.0, SD: nan
Year: 1908, Row Index: 18, Mean: 11.133333333333333, SD: 8.601218075421201
Year: 1908, Row Index: 19, Mean: 2.066666666666667, SD: 1.0997835284835873
Year: 1908, Row Index: 20, Mean: 0.0, SD: nan
Year: 1908, Row Index: 21, Mean: 6.821428571428571, SD: 6.055628367117233
Year: 1908, Row Index: 22, Mean: 1.4615384615384615, SD: 0.9674179220468452
Year: 1908, Row Index: 23, Mean: 4.5, SD: 3.228479041758971
Year: 1908, Row Index: 24, Mean: 0.0, SD: nan
Year: 1908, Row Index: 25, Mean: 0.0, SD: nan
Year: 1908, Row Index: 26, Mean: 10.0, SD: 9.440891630699333
Year: 1908, Row Index: 27, Mean: 0.0, SD: nan
Year: 1908, Row Index: 28, Mean: 2.764705882352941, SD: 1.8884322785284717
Year: 1908, Row Index: 29, Mean: 0.0, SD: nan
Year: 1908, Row Index: 30, Mean: 1.1, SD: 0.5676462121975466
Year: 1908, Row Index: 31, Mean: 0.0, SD: nan
Year: 1908, Row Index: 32, Mean: 1.3571428571428572, SD: 0.8418973861410954
Year: 1908, Row Index: 33, Mean: 0.0, SD: nan
Year: 1908, Row Index: 34, Mean: 0.0, SD: nan
Year: 1908, Row Index: 35, Mean: 0.0, SD: nan
Year: 1908, Row Index: 36, Mean: 1.6666666666666667, SD: 1.0
Year: 1908, Row Index: 37, Mean: 0.0, SD: nan
Year: 1908, Row Index: 38, Mean: 1.1, SD: 0.5676462121975466
Year: 1908, Row Index: 39, Mean: 1.5, SD: 0.7559289460184544
Year: 1908, Row Index: 40, Mean: 0.0, SD: nan
Year: 1908, Row Index: 41, Mean: 0.0, SD: nan
Year: 1908, Row Index: 42, Mean: 3.8, SD: 3.5629674208593687
Year: 1908, Row Index: 43, Mean: 2.090909090909091, SD: 1.300349603340998
Year: 1908, Row Index: 44, Mean: 0.0, SD: nan
Year: 1908, Row Index: 45, Mean: 1.9642857142857142, SD: 1.261455445614248
Year: 1908, Row Index: 46, Mean: 8.675, SD: 6.53349358777817
Year: 1908, Row Index: 47, Mean: 0.0, SD: nan
Year: 1908, Row Index: 48, Mean: 0.0, SD: nan
Year: 1908, Row Index: 49, Mean: 0.0, SD: nan
Year: 1908, Row Index: 50, Mean: 0.0, SD: nan
Year: 1908, Row Index: 51, Mean: 0.0, SD: nan
Year: 1908, Row Index: 52, Mean: 0.0, SD: nan
Year: 1908, Row Index: 53, Mean: 5.608695652173913, SD: 4.579987400089681
Year: 1908, Row Index: 54, Mean: 0.0, SD: nan
Year: 1908, Row Index: 55, Mean: 0.0, SD: nan
Year: 1908, Row Index: 56, Mean: 0.0, SD: nan
Year: 1908, Row Index: 57, Mean: 3.2083333333333335, SD: 1.8410575095914818
Year: 1908, Row Index: 58, Mean: 0.0, SD: nan
Year: 1908, Row Index: 59, Mean: 0.0, SD: nan
Year: 1908, Row Index: 60, Mean: 1.85, SD: 1.3484884325167863
Year: 1908, Row Index: 61, Mean: 0.0, SD: nan
Year: 1908, Row Index: 62, Mean: 2.0, SD: 1.6832508230603465
Year: 1908, Row Index: 63, Mean: 0.0, SD: nan
Year: 1908, Row Index: 64, Mean: 4.875, SD: 3.5378901433858383
Year: 1908, Row Index: 65, Mean: 1156.0, SD: nan
Year: 1908, Row Index: 66, Mean: 227.9, SD: nan
Year: 1908, Row Index: 67, Mean: 267.1, SD: nan
Year: 1912, Row Index: 0, Mean: 0.0, SD: nan
Year: 1912, Row Index: 1, Mean: 0.0, SD: nan
Year: 1912, Row Index: 2, Mean: 0.0, SD: nan
Year: 1912, Row Index: 3, Mean: 1.3888888888888888, SD: 0.7775443160352296
Year: 1912, Row Index: 4, Mean: 36.5, SD: 43.04253709994335
Year: 1912, Row Index: 5, Mean: 0.0, SD: nan
Year: 1912, Row Index: 6, Mean: 0.0, SD: nan
Year: 1912, Row Index: 7, Mean: 0.0, SD: nan
Year: 1912, Row Index: 8, Mean: 0.0, SD: nan
Year: 1912, Row Index: 9, Mean: 0.0, SD: nan
Year: 1912, Row Index: 10, Mean: 0.0, SD: nan
Year: 1912, Row Index: 11, Mean: 0.0, SD: nan
Year: 1912, Row Index: 12, Mean: 0.0, SD: nan
Year: 1912, Row Index: 13, Mean: 0.0, SD: nan
Year: 1912, Row Index: 14, Mean: 0.0, SD: nan
Year: 1912, Row Index: 15, Mean: 0.0, SD: nan
Year: 1912, Row Index: 16, Mean: 0.0, SD: nan
Year: 1912, Row Index: 17, Mean: 0.0, SD: nan
Year: 1912, Row Index: 18, Mean: 11.238095238095237, SD: 9.104420694941343
Year: 1912, Row Index: 19, Mean: 3.6956521739130435, SD: 3.12518774139608
Year: 1912, Row Index: 20, Mean: 4.407407407407407, SD: 3.532914021241032
Year: 1912, Row Index: 21, Mean: 9.212121212121213, SD: 7.052293845611404
Year: 1912, Row Index: 22, Mean: 0.0, SD: nan
Year: 1912, Row Index: 23, Mean: 9.294117647058824, SD: 8.520304468462035
Year: 1912, Row Index: 24, Mean: 0.0, SD: nan
Year: 1912, Row Index: 25, Mean: 0.0, SD: nan
Year: 1912, Row Index: 26, Mean: 14.761904761904763, SD: 13.011167364632437
Year: 1912, Row Index: 27, Mean: 0.0, SD: nan
Year: 1912, Row Index: 28, Mean: 0.0, SD: nan
Year: 1912, Row Index: 29, Mean: 0.0, SD: nan
Year: 1912, Row Index: 30, Mean: 0.0, SD: nan
Year: 1912, Row Index: 31, Mean: 0.0, SD: nan
Year: 1912, Row Index: 32, Mean: 0.0, SD: nan
Year: 1912, Row Index: 33, Mean: 0.0, SD: nan
Year: 1912, Row Index: 34, Mean: 0.0, SD: nan
Year: 1912, Row Index: 35, Mean: 2.066666666666667, SD: 1.3345232785352157
Year: 1912, Row Index: 36, Mean: 0.0, SD: nan
Year: 1912, Row Index: 37, Mean: 0.0, SD: nan
Year: 1912, Row Index: 38, Mean: 0.0, SD: nan
Year: 1912, Row Index: 39, Mean: 0.0, SD: nan
Year: 1912, Row Index: 40, Mean: 0.0, SD: nan
Year: 1912, Row Index: 41, Mean: 0.0, SD: nan
Year: 1912, Row Index: 42, Mean: 8.909090909090908, SD: 6.7605937391347295
Year: 1912, Row Index: 43, Mean: 0.0, SD: nan
Year: 1912, Row Index: 44, Mean: 0.0, SD: nan
Year: 1912, Row Index: 45, Mean: 2.7222222222222223, SD: 1.7985885118393907

,Sport_-1,drug_1896,Female_1896,Male_1896,total_1896,equity_1896,country_1896,10.0_1896,17.0_1896,18.0_1896,...,CV_1980,CV_1984,CV_1988,CV_1992,CV_1996,CV_2000,CV_2004,CV_2008,CV_2012,CV_2016
0,Alpine Skiing,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.941454,0.810152,0.975410,1.038671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Alpinism,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Archery,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.518674,0.486000,0.736622,0.877037,0.872777,0.840279,0.893923,0.819216,0.751548,0.849326
3,Art Competitions,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Athletics,0,NaN,106,106,0,9,NaN,1.0,2.0,...,1.012697,1.053289,1.032190,0.986700,1.016212,0.982383,0.984688,1.058562,0.964608,0.974802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Weightlifting,0,NaN,10,10,0,5,NaN,NaN,NaN,...,0.868112,0.705156,0.864418,0.863619,0.750228,0.828824,0.722117,0.810926,0.701123,0.802138
64,Wrestling,0,0,5,5,0,4,0.0,0.0,0.0,...,0.842081,0.751240,0.835817,0.892269,0.899076,0.764692,0.645342,0.722179,0.767672,0.709537
65,climbing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
66,Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
67,Headis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
df3.to_csv("not_final_no_CV.csv")